# Python cache
__pycache__/
*.pyc
*.pyo

# Generované výstupy testov
*.csv
*.pdf
stages.json
topology_diagram.png
ip_pool.txt
stages.json
# OS súbory
.DS_Store
Thumbs.db
config.env
*.env
__pycache__/
*.pyc
*.pyo
*.txt
session.json
network/local_session.json
!data/.gitkeep
!IP_pool/.gitkeep
